<html>
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
	<h1>Hello!, <%= current_user.username %> </h1>
	<% if current_user != nil %>
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% end %>
</body>
</html>