	<div class="container" id="pickLanguage">
		<div class="col-xs-12 h-wrapper">
			<h1>Select your language.</h1>
		</div>
		<form action="" role="form">
			<div class="form-group">
				<div class="col-xs-12">
					<div id="mlangs" class="row">
						<div class="col-xs-6 lang-btn-wrapper">
							<input type="button" id="eng" class="form-control btn btn-default lang-btn-lg" name="eng">
							<label for="eng" class="lang-lbl">English</label>
						</div>
						<div class="col-xs-6 lang-btn-wrapper">
							<input type="button" id="spa" class="form-control btn btn-default lang-btn-lg" name="spa">
							<label for="spa" class="lang-lbl">Spanish</label>
						</div>
					</div>
					<div id="slangs" class="row">
						<div class="col-xs-4 lang-btn-wrapper">
							<input type="button" id="ger" class="form-control btn btn-default lang-btn" name="ger">
							<label for="ger" class="lang-lbl">German</label>	
						</div>
						<div class="col-xs-4 lang-btn-wrapper">
							<input type="button" id="fre" class="form-control btn btn-default lang-btn" name="fre">
							<label for="fre" class="lang-lbl">French</label>
						</div>
						<div class="col-xs-4 lang-btn-wrapper">
							<input type="button" id="itl" class="form-control btn btn-default lang-btn" name="itl">
							<label for="itl" class="lang-lbl">Italian</label>	
						</div>
					</div>
					<div id="tlangs" class="row">
						<div class="col-xs-4 lang-btn-wrapper">
							<input type="button" id="chi" class="form-control btn btn-default lang-btn" name="chi">
							<label for="chi" class="lang-lbl">Chinese</label>
						</div>
						<div class="col-xs-4 lang-btn-wrapper">
							<input type="button" id="por" class="form-control btn btn-default lang-btn" name="por">
							<label for="por" class="lang-lbl">Portuguese</label>
						</div>
						<div class="col-xs-4 lang-btn-wrapper">
							<input type="button" id="oth" class="form-control btn btn-default lang-btn" name="oth">
							<label for="oth" class="lang-lbl">Other</label>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="col-xs-12 b-wrapper">
			<button type="button" id="select-date-btn" class="btn btn-default btn-lg">
				<span>Select Date</span>
			</button>
		</div>
	</div><!--contianer pick-lang end-->
