<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Comments</title>
</head>
<body>
<span class="title"><%= @movie.title  %></span>	
<img class="poster" src="<%= @movie.poster %>" alt="">

</body>
</html>