<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SECRET ANIMAL</title>
</head>
<body>
	<form id="animal-form" action="/animal" method="POST">
		<label for="animal-name">What's my favorite animal?</label>
		<input type="text" name="animal" id="animal-name">
		<input type="submit">
	</form>

	<div id="elephant">
	<img src="<%=@elephant%>" alt="">
	</div>
</body>
</html>