<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Time</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<p class="date">Six hours ago the time was: <%= @date %></p>
</body>
</html>