<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Username</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<p class="name">Your Username is: <%= @username %></p>
</body>
</html>